PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=iconfst@gaposa.edu.ng
SMTP_PASS=
SMTP_FROM=iconfst@gaposa.edu.ng
AUTO_RESPONSE_SUBJECT=ICONFST'26 Abstract Submission Confirmation
AUTO_RESPONSE_MESSAGE=Thank you for submitting your abstract to ICONFST'26. Your submission has been received and is under review.
REVIEW_SUBJECT=ICONFST'26 Paper Review Feedback
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=IConfst'26!
